<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SampleDataCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SampleDataCreator.Properties.Settings>
            <setting name="Format" serializeAs="String">
                <value>{0}-{1}</value>
            </setting>
            <setting name="PointSize" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="TranslateTransformStep" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="ScaleTransformStep" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="Seperator" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="CoordinatesScale" serializeAs="String">
                <value>1</value>
            </setting>
        </SampleDataCreator.Properties.Settings>
    </userSettings>
</configuration>